.rounded {
    border-radius: 20px !important;
}

.spacer {
    clear: both;
}

.skill-item {
    .skill-info {
        h4 {
            font-size: 16px;
            font-weight: 500;
        }
        span {
            font-size: 14px;
        }
    }
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.progress {
    height: 7px;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #F1F1F1;
    border-radius: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress-bar {
    border-radius: 15px;
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 7px;
    color: #fff;
    text-align: center;
    background-color: #353353;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

@media only screen and (min-width: 768px) {
    .triangle-left-md:before {
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 15px solid #FFF;
        position: absolute;
        left: 0;
        top: 20%;
    }
    .triangle-left-md:before {
        border-right-color: #302f4e;
    }
}
