<section id="contact">
    <div class="container animated animate__animated animate__slower animate__fadeIn">
        <!-- section title -->
        <h2 class="section-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp">
            Get In Touch
        </h2>

        <div class="spacer" data-height="60" style="height: 60px"></div>

        <div class="row">
            <div class="col-md-4">
                <!-- contact info -->
                <div class="contact-info">
                    <h3 class="wow animated animate__animated animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp">
                        Let's talk about everything!
                    </h3>
                    <p class="wow animated animate__animated animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp">
                        Don't like forms? Send me an
                        <a href="mailto:name@example.com">email</a>. 👋
                    </p>
                </div>
            </div>

            <div class="col-md-8">
                <!-- Contact Form -->
                <form class="contact-form mt-6" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="messages"></div>

                    <div class="row">
                        <div class="column col-md-6">
                            <!-- Name input -->
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" formControlName="name" placeholder="Your name" />
                            </div>
                        </div>

                        <div class="column col-md-6">
                            <!-- Email input -->
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email address" />
                            </div>
                        </div>

                        <div class="column col-md-12">
                            <!-- Email input -->
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" formControlName="subject" placeholder="Subject" />
                            </div>
                        </div>

                        <div class="column col-md-12">
                            <!-- Message textarea -->
                            <div class="form-group has-error has-danger">
                                <textarea name="InputMessage" class="form-control" formControlName="message" rows="5" placeholder="Message" required="required" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default rounded-pill">
            Send Message
          </button>
                    <!-- Send Button -->
                </form>
                <!-- Contact Form end -->
            </div>
        </div>
    </div>
</section>
