.content {
    margin-left: 250px;
    transition: all 0.3s ease-in-out;
    &.open {
        opacity: 0.8;
        transform: translateX(250px);
    }
}

@media only screen and (max-width: 991px) {
    .content {
        margin-left: 0;
    }
}
