<section id="services">
    <div class="container animated animate__animated animate__slow animate__fadeIn">
        <!-- section title -->
        <h2 class="section-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp">
            Services
        </h2>

        <div class="spacer" data-height="60" style="height: 60px"></div>

        <div class="row">
            <div class="col-sm-12 col-lg-4 mb-md-4 animate__animated animate__jello">
                <!-- service box -->
                <div class="service-box rounded data-background padding-30 text-center text-light shadow-yellow" data-color="#6C6CE5" style="background-color: rgb(249, 215, 76)">
                    <img src="assets/images/html.svg" alt="UI/UX design" />
                    <h3 class="mb-3 mt-0">HTML & CSS</h3>
                    <p class="mb-0">
                        I like to code things from scratch, and enjoy bringing ideas to life in the browser.
                    </p>
                </div>
                <div class="spacer d-md-none d-lg-none" data-height="30" style="height: 30px"></div>
            </div>

            <div class="col-sm-12 col-lg-4 mb-md-4 animate__animated animate__jello">
                <!-- service box -->
                <div class="service-box rounded data-background padding-30 text-center shadow-pink" data-color="#F9D74C" style="background-color: rgb(249, 123, 139)">
                    <img src="assets/images/angular.svg" alt="UI/UX design" />
                    <h3 class="mb-3 mt-0">Web Development</h3>
                    <p class="mb-0">
                        Angular is one of the most powerful accessibility tools available when developing apps with Angular.
                    </p>
                </div>
                <div class="spacer d-md-none d-lg-none" data-height="30" style="height: 30px"></div>
            </div>

            <div class="col-sm-12 col-lg-4 mb-md-4 animate__animated animate__jello">
                <!-- service box -->
                <div class="service-box rounded data-background padding-30 text-center text-light shadow-blue" data-color="#F97B8B" style="background-color: rgb(108, 108, 229)">
                    <img src="assets/images/nodejs.svg" alt="UI/UX design" />
                    <h3 class="mb-3 mt-0">NodeJS</h3>
                    <p class="mb-0">
                        The real-time communication between client and server requires fast and persistent I/O. NodeJS is best suited for these kinds of applications.
                    </p>
                </div>
            </div>
        </div>

        <div class="mt-5 text-center">
            <p class="mb-0">
                Looking for a custom job? <a routerLink="/contact" class="badge badge-light">Click here</a> to contact me! 👋
            </p>
        </div>
    </div>
</section>
