section {
    padding-top: 110px;
    position: relative;
    overflow: hidden;
    &.home {
        background: #353353;
        padding: 0;
        height: 100vh;
        min-height: 100vh;
        .intro {
            margin: auto;
            max-width: 540px;
            text-align: center;
            position: relative;
            z-index: 1;
            h1 {
                color: #FFF;
                font-size: 36px;
            }
            span {
                color: #FFF;
                font-size: 16px;
            }
        }
        .social-icons {
            li {
                a {
                    color: #FFF;
                }
            }
        }
        &.light {
            background: #F9F9FF;
            .intro {
                h1 {
                    color: #353353;
                }
                span {
                    color: #454360;
                }
            }
            .social-icons {
                li {
                    a {
                        color: #353353;
                        &:hover {
                            color: #FFD15C;
                        }
                    }
                }
                &.light {
                    li {
                        a {
                            &:hover {
                                color: #FFD15C;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* === Social Icons === */

.social-icons {
    li {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
        a {
            font-size: 21px;
            &:hover {
                color: #FFD15C;
            }
        }
    }
}

.parallax {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    .layer {
        position: absolute;
    }
    .p1 {
        left: 10%;
        top: 10%;
    }
    .p2 {
        left: 25%;
        top: 30%;
    }
    .p3 {
        left: 15%;
        bottom: 30%;
    }
    .p4 {
        left: 10%;
        bottom: 10%;
    }
    .p5 {
        left: 45%;
        top: 10%;
    }
    .p6 {
        left: 40%;
        bottom: 10%;
    }
    .p7 {
        top: 20%;
        right: 30%;
    }
    .p8 {
        right: 30%;
        bottom: 20%;
    }
    .p9 {
        right: 10%;
        top: 10%;
    }
    .p10 {
        top: 45%;
        right: 20%;
    }
    .p11 {
        bottom: 10%;
        right: 10%;
    }
}

.btn {
    border-radius: 30px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    line-height: 1;
    padding: 12px 32px;
    position: relative;
    &:focus {
        box-shadow: none;
    }
    & :focus {
        outline: 0;
    }
}

.morphext>.animated {
    display: inline-block;
}
